In [1]:
import os 
import pandas as pd 
import numpy as np 
os.chdir('/mnt/BioHome/jreyna/jreyna/projects/cmi-pb-preds/')
outdir = 'results/main/cmi_pb_datasets/processed/'
os.makedirs(outdir, exist_ok=True)

IgG1 and IgG4 day 14 and day 0 values for PT, FHA, and Pertactin

In [2]:
assays = ('abtiters', 'cytof', 'olink', 'rnaseq')
longnames = ('ab_titer', 'live_cell_percentages', 'olink_prot_exp', 'rnaseq')

In [3]:
# loading gencode data
gencode = pd.read_table('results/refs/gencode/gencode.v38lift37.annotation.protein_coding.bed', header=None)
gencode.columns = ['chr', 'start', 'end', 'strand', 'gene_id', 'gene_name']
gencode['gene_nonversioned_id'] = gencode['gene_id'].str.replace('\..*', '')

In [4]:
interm_dir = os.path.join(outdir, 'full')

## Load the 2020 data

In [5]:
twenty_data = {}

# get meta master table
for metatable in ('subject', 'specimen'): 
    fn = 'results/main/cmi_pb_datasets/raw/2020LD_{}.csv'.format(metatable)
    df = pd.read_table(fn, sep=',')
    twenty_data[metatable] = df
    
subjects = twenty_data['subject']
specimen = twenty_data['specimen']
master_meta = subjects.merge(specimen, on='subject_id')
master_meta = master_meta[['subject_id',
                           'specimen_id',
                           'infancy_vac',
                           'biological_sex',
                           'year_of_birth',
                           'date_of_boost',
                           'actual_day_relative_to_boost',
                           'planned_day_relative_to_boost',
                           'ethnicity',
                           'race',
                           'dataset',
                           'specimen_type',
                           'visit']]

# defining the meta columns (used to remove columns later one)
meta_cols = ['specimen_id', 'infancy_vac', 'biological_sex',
             'year_of_birth', 'date_of_boost', 'actual_day_relative_to_boost',
             'ethnicity', 'race', 'dataset',
             'specimen_type', 'visit']

twenty_data['master_meta'] = master_meta

# save meta
meta_fn = os.path.join(interm_dir, 'meta.2020.pivoted.tsv')
twenty_data['master_meta'].to_csv(meta_fn, sep='\t')

In [6]:
# code to switch between different MFI's 
curr_mfi, curr_mfi_name = ('MFI', 'mfi_raw')
#curr_mfi, curr_mfi_name = ('MFI_normalised', 'mfi_normalised')

In [7]:
for i, longname in enumerate(longnames): 
    fn = 'results/main/cmi_pb_datasets/raw/2020LD_{}.csv'.format(longname)
    df = pd.read_table(fn, sep=',')
    
    print(fn)
        
    if assays[i] == 'rnaseq':
        df.loc[:, 'ensembl_gene_id'] = df.loc[:, 'versioned_ensembl_gene_id'].str.replace('\.[0-9]+', '')
        df = df.pivot(index='specimen_id', columns='ensembl_gene_id', values='tpm')
        df = master_meta.merge(df, on='specimen_id')
        
    elif assays[i] == 'cytof':
        df = df.pivot(index='specimen_id', columns='cell_type_name', values='percent_live_cell')
        df = master_meta.merge(df, on='specimen_id')
        
    elif assays[i] == 'olink':
        # Still getting duplicate specimens? 
        df = df[df['unit'] == "Normalized Protein eXpression"]
        df = df[df['quality_control'] == 'Pass']
        df = df[df['protein_expression'] > df['lower_limit_of_quantitation']]
        df = df.pivot(index='specimen_id', columns='uniprot_id', values='protein_expression')
        df = master_meta.merge(df, on='specimen_id')      
        
    elif assays[i] == 'abtiters':
        aglist = ['1% PFA PT', 'PT', 'PRN', 'FHA', 'FIM2/3']
        df = df.loc[df.antigen.isin(aglist), :]
        df['antigen'].replace(to_replace='1% PFA PT', value='PT', inplace=True)
        df['isotype_antigen'] = df['isotype'] + '-' + df['antigen']
        df = df.pivot(index='specimen_id', columns='isotype_antigen', values=curr_mfi)
        df = master_meta.merge(df, on='specimen_id')  
        
    twenty_data[assays[i]] = df.drop(meta_cols, axis=1)

results/main/cmi_pb_datasets/raw/2020LD_ab_titer.csv
results/main/cmi_pb_datasets/raw/2020LD_live_cell_percentages.csv
results/main/cmi_pb_datasets/raw/2020LD_olink_prot_exp.csv
results/main/cmi_pb_datasets/raw/2020LD_rnaseq.csv

In [8]:
for assay, df in twenty_data.items():
    print(assay, df.subject_id.nunique())

subject 60
specimen 60
master_meta 60
abtiters 58
cytof 20
olink 18
rnaseq 36

In [9]:
# save a dataframe for each assay on each day
for assay, df in twenty_data.items():
    if assay in ['cytof', 'olink', 'rnaseq', 'abtiters']:
        print(assay)
        for day, day_df in df.groupby('planned_day_relative_to_boost'):
            
            if assay == 'abtiters': 
                outfn = os.path.join(interm_dir, '{}.{}.2020.day{}.pivoted.tsv'.format(assay, curr_mfi_name, day))
            else:
                outfn = os.path.join(interm_dir, '{}.2020.day{}.pivoted.tsv'.format(assay, day))
            
            day_df.drop('planned_day_relative_to_boost', axis=1).to_csv(outfn, index=False, sep='\t')
            print(day, day_df.shape)

abtiters
0 (58, 25)
1 (57, 25)
3 (57, 25)
7 (57, 25)
14 (57, 25)
30 (54, 25)
90 (51, 25)
386 (1, 25)
402 (1, 25)
428 (1, 25)
cytof
0 (20, 27)
1 (20, 27)
3 (20, 27)
7 (20, 27)
14 (20, 27)
olink
0 (18, 258)
1 (18, 258)
3 (18, 258)
7 (18, 258)
14 (18, 258)
rnaseq
0 (36, 58349)
1 (36, 58349)
3 (36, 58349)
7 (36, 58349)
14 (36, 58349)

# Load the 2021 data

In [10]:
twentyone_data = {}

# get meta master table
for metatable in ('subject', 'specimen'): 
    fn = 'results/main/cmi_pb_datasets/raw/2021BD_{}.csv'.format(metatable)
    df = pd.read_table(fn, sep=',')
    twentyone_data[metatable] = df
    
subjects = twentyone_data['subject']
specimen = twentyone_data['specimen']
master_meta = subjects.merge(specimen, on='subject_id')
master_meta = master_meta[['subject_id',
                           'specimen_id',
                           'infancy_vac',
                           'biological_sex',
                           'year_of_birth',
                           'date_of_boost',
                           'actual_day_relative_to_boost',
                           'planned_day_relative_to_boost',
                           'ethnicity',
                           'race',
                           'dataset',
                           'specimen_type',
                           'visit']]
twentyone_data['master_meta'] = master_meta

In [11]:
for i, longname in enumerate(longnames): 
        
    fn = 'results/main/cmi_pb_datasets/raw/2021BD_{}.csv'.format(longname)
    df = pd.read_table(fn, sep=',')
    
    if assays[i] == 'rnaseq':
        df.loc[:, 'ensembl_gene_id'] = df.loc[:, 'versioned_ensembl_gene_id'].str.replace('\.[0-9]+', '')
        df = df.pivot(index='specimen_id', columns='ensembl_gene_id', values='tpm')
        df = master_meta.merge(df, on='specimen_id')
                
    elif assays[i] == 'cytof':
        df = df.pivot(index='specimen_id', columns='cell_type_name', values='percent_live_cell')
        df = master_meta.merge(df, on='specimen_id')
        
    elif assays[i] == 'olink':
        df = df.pivot(index='specimen_id', columns='uniprot_id', values='protein_expression')
        df = master_meta.merge(df, on='specimen_id')       
        
    elif assays[i] == 'abtiters':
        aglist = ['PT', 'PRN', 'FHA', 'FIM2/3']
        df = df.loc[df.antigen.isin(aglist), :]
        df['isotype_antigen'] = df['isotype'] + '-' + df['antigen']
        df = df.pivot(index='specimen_id', columns='isotype_antigen', values=curr_mfi)
        df = master_meta.merge(df, on='specimen_id')  
          
    twentyone_data[assays[i]] = df.drop(meta_cols, axis=1)

In [12]:
longname = 'live_cell_percentages'
df = 'results/main/cmi_pb_datasets/raw/2021BD_{}.csv'.format(longname)

df = pd.read_table(df, sep=',')

df = df.pivot(index='specimen_id', columns='cell_type_name', values='percent_live_cell')
df = master_meta.merge(df, on='specimen_id')

In [13]:
for assay, df in twentyone_data.items():
    print(assay, df.subject_id.nunique())

subject 36
specimen 36
master_meta 36
abtiters 33
cytof 33
olink 36
rnaseq 36

In [14]:
os.makedirs(interm_dir, exist_ok=True)

# save abtiters  
abtiters_fn = os.path.join(interm_dir, 'abtiters.{}.2021.day0.pivoted.tsv'.format(curr_mfi_name))
twentyone_data['abtiters'].drop('planned_day_relative_to_boost', axis=1).to_csv(abtiters_fn, index=False, sep='\t')

# save cytof 
cytof_fn = os.path.join(interm_dir, 'cytof.2021.day0.pivoted.tsv')
twentyone_data['cytof'].drop('planned_day_relative_to_boost', axis=1).to_csv(cytof_fn, index=False, sep='\t')

# save olink
olink_fn = os.path.join(interm_dir, 'olink.2021.day0.pivoted.tsv')
twentyone_data['olink'].drop('planned_day_relative_to_boost', axis=1).to_csv(olink_fn, index=False, sep='\t')

# save rnaseq
rnaseq_fn = os.path.join(interm_dir, 'rnaseq.2021.day0.pivoted.tsv')
twentyone_data['rnaseq'].drop('planned_day_relative_to_boost', axis=1).to_csv(rnaseq_fn, index=False, sep='\t')

# save meta
meta_fn = os.path.join(interm_dir, 'meta.2021.pivoted.tsv')
twentyone_data['master_meta'].to_csv(meta_fn, index=False, sep='\t')

In [15]:
# summary21 = []
# for assay, df in twentyone_data.items():
#     summary21.append([assay, df.subject_id.nunique()])

# summary20 = []
# for assay, df in twenty_data.items():
#     summary20.append([df.subject_id.nunique()])

# summary = pd.concat([pd.DataFrame(summary21), pd.DataFrame(summary20)], axis=1)
# summary.columns = ('table', 'nsamples21', 'nsamples20')
# summary = summary[['table', 'nsamples20', 'nsamples21']]

In [16]:
# fn = 'results/main/cmi_pb_datasets/2020LD_{}.csv'.format('olink_prot_exp')
# df = pd.read_table(fn, sep=',')

## Standardize RNA-seq

The RNA-seq dataset includes a lot more variables and processing so there are many steps we are including for standardization:

    1) remove zero variance genes,
    2) remove mitochondrial genes, 
    3) keep expressed genes (defined as those with TPM > 1) in more than a certain proportion of people (cut_filter)
    4) intersect genes across 2020 and 2021 and finally make harmonized 2020 and 2021 tables

In [17]:
# load gene data to find mitochondrial genes
mito_genes = gencode.loc[(gencode.chr == 'chrM'), 'gene_nonversioned_id']
mito_genes = set(mito_genes.unique().tolist())

In [18]:
# value used across both RNA-seq datasets
cut_filter = 0.3

### RNA-seq for 2020

In [19]:
# find zero variance genes 
tmp = twenty_data['rnaseq'].loc[twenty_data['rnaseq'].planned_day_relative_to_boost == 0]
tmp = tmp.loc[:, tmp.columns.str.match('ENSG')]
tmpvars = tmp.var()
zero_var_genes = tmpvars[(tmpvars == 0)]
zero_var_genes = set(zero_var_genes.index.tolist())

In [20]:
# locate genes which are expressed
# defined as genes with TPM > 1 in more than 30% of samples 
expressed_genes = (tmp > 1).sum() > cut_filter * tmp.shape[0]
expressed_genes = set(expressed_genes.index[expressed_genes.values.tolist()])

In [21]:
# get the final list of genes 
keep_genes = expressed_genes.difference(mito_genes).difference(zero_var_genes)
keep_genes = keep_genes.intersection(gencode.gene_nonversioned_id.values.tolist())

In [22]:
# make the final new_rnaseq table
new_rnaseq1 = tmp.loc[:, ~tmp.columns.str.match('ENSG')]
new_rnaseq2 = tmp.loc[:, keep_genes]
twenty_data['rnaseq_std'] = pd.concat([new_rnaseq1, new_rnaseq2], axis=1)

### RNA-seq for 2021

In [23]:
# find zero variance genes 
tmp = twentyone_data['rnaseq'].loc[twentyone_data['rnaseq'].planned_day_relative_to_boost == 0]
tmp = tmp.loc[:, tmp.columns.str.match('ENSG')]
tmpvars = tmp.var()
zero_var_genes = tmpvars[(tmpvars == 0)]
zero_var_genes = set(zero_var_genes.index.tolist())

In [24]:
# locate genes which are expressed
# defined as genes with TPM > 1 in more than 30% of samples 
expressed_genes = (tmp > 1).sum() > cut_filter * tmp.shape[0]
expressed_genes = set(expressed_genes.index[expressed_genes.values.tolist()])

In [25]:
# get the final list of genes 
keep_genes = expressed_genes.difference(mito_genes).difference(zero_var_genes)
keep_genes = keep_genes.intersection(gencode.gene_nonversioned_id.values.tolist())

In [26]:
# make the final new_rnaseq table
new_rnaseq1 = tmp.loc[:, ~tmp.columns.str.match('ENSG')]
new_rnaseq2 = tmp.loc[:, keep_genes]
twentyone_data['rnaseq_std'] = pd.concat([new_rnaseq1, new_rnaseq2], axis=1)

### Harmonize the RNA-seq datasets

In [27]:
# get the shared genes between 2020 and 2021
twenty_genes = set(twenty_data['rnaseq_std'].columns.str.extract('(ENSG[0-9]+)').dropna()[0])
twentyone_genes = set(twentyone_data['rnaseq_std'].columns.str.extract('(ENSG[0-9]+)').dropna()[0])
shared_genes = sorted(twenty_genes.intersection(twentyone_genes))

In [28]:
# getting harmonized for 2020 
new_rnaseq1 = twenty_data['rnaseq'].loc[:, ~twenty_data['rnaseq'].columns.str.match('ENSG')]
new_rnaseq2 = twenty_data['rnaseq'].loc[:, shared_genes]
harmonized_df = pd.concat([new_rnaseq1, new_rnaseq2], axis=1)
harmonized_df = harmonized_df.loc[harmonized_df.planned_day_relative_to_boost == 0]
harmonized_df.drop('planned_day_relative_to_boost', axis=1, inplace=True)
twenty_data['rnaseq_harmonized'] = harmonized_df

In [29]:
# getting harmonized for 2021
new_rnaseq1 = twentyone_data['rnaseq'].loc[:, ~twentyone_data['rnaseq'].columns.str.match('ENSG')]
new_rnaseq2 = twentyone_data['rnaseq'].loc[:, shared_genes]
harmonized_df = pd.concat([new_rnaseq1, new_rnaseq2], axis=1)
harmonized_df = harmonized_df.loc[harmonized_df.planned_day_relative_to_boost == 0]
harmonized_df.drop('planned_day_relative_to_boost', axis=1, inplace=True)
twentyone_data['rnaseq_harmonized'] = harmonized_df

In [30]:
# save harmonize rnaseq
harmony_dir = os.path.join(outdir, 'harmonized/')
os.makedirs(harmony_dir, exist_ok=True)

rnaseq_2020_fn = os.path.join(harmony_dir, 'rnaseq.2020.day0.pivoted.tsv')
twenty_data['rnaseq_harmonized'].loc[:, ['subject_id'] + shared_genes].to_csv(rnaseq_2020_fn, index=False, sep='\t')

rnaseq_2021_fn = os.path.join(harmony_dir, 'rnaseq.2021.day0.pivoted.tsv')
twentyone_data['rnaseq_harmonized'].loc[:, ['subject_id'] + shared_genes].to_csv(rnaseq_2021_fn, index=False, sep='\t')

## Standardize CyTOF

In [31]:
shared_cells = set(twenty_data['cytof'].columns).intersection(set(twentyone_data['cytof'].columns))
shared_cells = sorted(list(shared_cells))
shared_cells.remove('subject_id')
shared_cells.remove('planned_day_relative_to_boost')

In [32]:
day0_rows = twenty_data['cytof']['planned_day_relative_to_boost'] == 0
twenty_data['cytof_harmonized'] = twenty_data['cytof'].loc[day0_rows]
twenty_data['cytof_harmonized'] = twenty_data['cytof_harmonized'].loc[:, ['subject_id'] + shared_cells]

day0_rows = twentyone_data['cytof']['planned_day_relative_to_boost'] == 0
twentyone_data['cytof_harmonized'] = twentyone_data['cytof'].loc[day0_rows]
twentyone_data['cytof_harmonized'] = twentyone_data['cytof_harmonized'].loc[:, ['subject_id'] + shared_cells]

In [33]:
cytof_2020_fn = os.path.join(harmony_dir, 'cytof.2020.day0.pivoted.tsv')
twenty_data['cytof_harmonized'].to_csv(cytof_2020_fn, index=False, sep='\t')

In [34]:
cytof_2021_fn = os.path.join(harmony_dir, 'cytof.2021.day0.pivoted.tsv')
twentyone_data['cytof_harmonized'].to_csv(cytof_2021_fn, index=False, sep='\t')

In [35]:
twentyone_data['cytof_harmonized'].shape

(33, 23)

## Standardize Ab Titers

In [36]:
abtiters_overlap = set(twenty_data['abtiters'].columns).intersection(twentyone_data['abtiters'].columns.tolist())
abtiters_overlap.discard('planned_day_relative_to_boost')
abtiters_overlap.discard('subject_id')
abtiters_overlap = sorted(abtiters_overlap)

In [37]:
twenty_data['abtiters_harmonized'] = twenty_data['abtiters'].\
        loc[twenty_data['abtiters'].planned_day_relative_to_boost == 0, ]
twenty_data['abtiters_harmonized'] = twenty_data['abtiters_harmonized'].loc[:, ['subject_id'] + abtiters_overlap]
new_abtiters_fn = os.path.join(harmony_dir, 'abtiters.{}.2020.day0.pivoted.tsv'.format(curr_mfi_name))
twenty_data['abtiters_harmonized'].to_csv(new_abtiters_fn, sep='\t', index=False)

In [38]:
twentyone_data['abtiters_harmonized'] = twentyone_data['abtiters'].\
        loc[twentyone_data['abtiters'].planned_day_relative_to_boost == 0, ]
twentyone_data['abtiters_harmonized'] = twentyone_data['abtiters_harmonized'].loc[:, ['subject_id'] + abtiters_overlap]
new_abtiters_fn = os.path.join(harmony_dir, 'abtiters.{}.2021.day0.pivoted.tsv'.format(curr_mfi_name))
twentyone_data['abtiters_harmonized'].to_csv(new_abtiters_fn, sep='\t', index=False)

## Standardize Olink

### Checking Olink features

In [39]:
def load_api_data(url):
    """
    Loading data using the API.
    """

    import urllib.request, json, ssl 

    gcontext = ssl.SSLContext()  
    with urllib.request.urlopen(url, context=gcontext) as url:
        data = url.read()
        data = pd.read_json(data)
        return(data)

In [40]:
set(twenty_data['olink'].columns.tolist()).intersection(twentyone_data['olink'].columns.tolist())

{'O14625',
 'O43508',
 'P01133',
 'P01579',
 'P02778',
 'P05112',
 'P05231',
 'P09603',
 'P10145',
 'P10147',
 'P13232',
 'P13236',
 'P13500',
 'P14210',
 'P15692',
 'P22301',
 'P35225',
 'P39900',
 'P48061',
 'P50591',
 'P51671',
 'P80075',
 'P80098',
 'Q07325',
 'Q14116',
 'Q99616',
 'Q99731',
 'planned_day_relative_to_boost',
 'subject_id'}

In [41]:
# load olink mapper
url = 'https://www.cmi-pb.org:443/api/v2/olink_prot_info'
olink_meta = load_api_data(url) 
olink_meta.set_index('olink_id', inplace=True)

# keep non-duplicated values only
olink_uniq = olink_meta.loc[~olink_meta.index.duplicated(keep=False), ]
olink_uniq = olink_uniq.squeeze().to_dict()

# keep only duplicated values
olink_dups = olink_meta.loc[olink_meta.index.duplicated(keep=False), ]
#olink_uniq = olink_uniq.squeeze().to_dict()

### Checking Olink features

In [42]:
check_olink_2020 = twenty_data['olink'].copy()
check_olink_2020.rename(columns=olink_uniq, inplace=True)

In [43]:
check_olink_2021 = twentyone_data['olink'].copy()
check_olink_2021.rename(columns=olink_uniq, inplace=True)

In [44]:
olink_overlaps = set(check_olink_2020.columns.tolist()).intersection(check_olink_2021.columns.tolist())
olink_overlaps.discard('planned_day_relative_to_boost')
olink_overlaps.discard('subject_id')
olink_overlaps = sorted(olink_overlaps)

In [45]:
print('There are {} overlaps with the unique Uniprot proteins.'.format(len(olink_overlaps)))

There are 27 overlaps with the unique Uniprot proteins.

In [46]:
dup_overlaps = set(olink_overlaps).intersection(olink_dups.uniprot_id.tolist())
print('There are {} overlaps with the duplicates.'.format(len(dup_overlaps)))

There are 0 overlaps with the duplicates.

In [47]:
s = 'Olink data from 2020 has {} protein measurements'.format(twenty_data['olink'].shape[1] - 2)
s += ' whereas 2021 has {}.'.format(twentyone_data['olink'].shape[1] - 2)
print(s)

Olink data from 2020 has 256 protein measurements whereas 2021 has 45.

Seems like the olink to protein names database is not updated. I can't find the protein names for 2021 data.

### Harmonizing features

In [48]:
twenty_olink_harmonized = check_olink_2020.copy()
twenty_olink_harmonized = twenty_olink_harmonized.loc[twenty_olink_harmonized.planned_day_relative_to_boost == 0]
twenty_olink_harmonized = twenty_olink_harmonized[['subject_id'] + olink_overlaps]
twenty_harmonized_olink_fn = os.path.join(harmony_dir, 'olink.2020.day0.pivoted.tsv')
twenty_olink_harmonized.to_csv(twenty_harmonized_olink_fn, sep='\t', index=False)
twenty_data['olink_harmonized'] = twenty_olink_harmonized

In [49]:
twentyone_olink_harmonized = check_olink_2021.copy()
twentyone_olink_harmonized = twentyone_olink_harmonized.loc[twentyone_olink_harmonized.planned_day_relative_to_boost == 0]
twentyone_olink_harmonized = twentyone_olink_harmonized[['subject_id'] + olink_overlaps]
twentyone_harmonized_olink_fn = os.path.join(harmony_dir, 'olink.2021.day0.pivoted.tsv')
twentyone_olink_harmonized.to_csv(twentyone_harmonized_olink_fn, sep='\t', index=False)
twentyone_data['olink_harmonized'] = twentyone_olink_harmonized

## Providing all task vectors for training

In [50]:
from IPython.display import display

In [51]:
# Loading the table describing each task 
tasks = pd.read_table('results/refs/tasks.tsv')

# Making a task vector using GENE IDS for RNA based tasks
i = 1
for idd, task in tasks.iterrows():
    
    # extracting the required columns
    cols = ['subject_id', task.fetchname]
    task_data = twenty_data[task.assay]
    task_data = task_data.loc[(task_data.planned_day_relative_to_boost == task.day), cols]
    task_data.columns = ['subject_id', task.fetchname + '_day' + str(task.day)]    
    
    # merging the data together
    if i == 1: 
        master_tasks = task_data
    else:
        master_tasks = master_tasks.merge(task_data, on='subject_id', how='outer')
    i += 1 

# saving the task matrix 
task_fn = os.path.join(harmony_dir, 'task_matrix.feature_names.{}.tsv'.format(curr_mfi_name))
master_tasks.to_csv(task_fn, sep='\t', index=False)

# Making a task vector using GENE NAMES for RNA based tasks
i = 1
for idd, task in tasks.iterrows():
    
    # extracting the required columns
    cols = ['subject_id', task.fetchname]
    task_data = twenty_data[task.assay]
    task_data = task_data.loc[(task_data.planned_day_relative_to_boost == task.day), cols]
    
    if task.assay == 'rnaseq':
        task_data.columns = ['subject_id', task.fullname + '_day' + str(task.day)]    
    else:
        task_data.columns = ['subject_id', task.fetchname + '_day' + str(task.day)]    
    
    # merging the data together
    if i == 1: 
        master_tasks = task_data
    else:
        master_tasks = master_tasks.merge(task_data, on='subject_id', how='outer')
    i += 1 

# saving the task matrix 
task_fn = os.path.join(harmony_dir, 'task_matrix.common_names.{}.tsv'.format(curr_mfi_name))
master_tasks.to_csv(task_fn, sep='\t', index=False)

In [52]:
twenty_data.keys()

dict_keys(['subject', 'specimen', 'master_meta', 'abtiters', 'cytof', 'olink', 'rnaseq', 'rnaseq_std', 'rnaseq_harmonized', 'cytof_harmonized', 'abtiters_harmonized', 'olink_harmonized'])

In [53]:
master_tasks.head()

,subject_id,IgG-PT_day14,IgG-FHA_day14,IgG-PRN_day14,IgG1-PT_day14,IgG1-FHA_day14,IgG4-PT_day14,IgG4-FHA_day14,Monocytes_day1,ASCs (Plasmablasts)_day7,CD4Tcells_day3,CCL3_day3,IL-6_day3,NFKBIA_day7,XIST_day14
0,1,229.603692,0.064000,1039.814648,19557.609614,36786.057494,8.949363,264.341186,NaN,NaN,NaN,46.410,3.814,651.685,146.247
1,3,129.197956,640.894817,1030.816658,13450.246691,31310.347099,0.596624,24.226164,NaN,NaN,NaN,26.204,2.646,575.733,121.084
2,4,105.426574,162.807830,874.712337,12991.422668,23985.251999,195.692738,357.259259,7.211965,1.77,8.700555,13.353,3.770,550.870,0.132
3,5,97.743258,0.064000,646.092906,10180.992458,32051.860329,374.679998,2930.752565,NaN,NaN,NaN,20.618,2.070,1098.404,0.066
4,6,162.500000,137.831579,58.431482,15393.164531,30887.580056,6.500836,363.083071,41.380502,3.50,41.706336,19.606,2.163,686.300,127.023

## Providing day 0 data for all task vectors (for fold change transformations)|

In [54]:
# Making a task vector using GENE IDS for RNA based tasks
i = 1
for idd, task in tasks.iterrows():
    
    # extracting the required columns
    cols = ['subject_id', task.fetchname]
    task_data = twenty_data[task.assay]
    task_data = task_data.loc[(task_data.planned_day_relative_to_boost == 0), cols]
    task_data.columns = ['subject_id', task.fetchname + '_day' + str(0)]    
    
    # merging the data together
    if i == 1: 
        zero_day_tasks = task_data
    else:
        zero_day_tasks = zero_day_tasks.merge(task_data, on='subject_id', how='outer')
    i += 1 

# saving the task matrix 
task_fn = os.path.join(harmony_dir, 'zero_day_matrix.feature_names.{}.tsv'.format(curr_mfi_name))
zero_day_tasks.to_csv(task_fn, sep='\t', index=False)

In [55]:
# Making a task vector using GENE NAMES for RNA based tasks
i = 1
for idd, task in tasks.iterrows():
    
    # extracting the required columns
    cols = ['subject_id', task.fetchname]
    task_data = twenty_data[task.assay]
    task_data = task_data.loc[(task_data.planned_day_relative_to_boost == 0), cols]
    
    if task.assay == 'rnaseq':
        task_data.columns = ['subject_id', task.fullname + '_day' + str(0)]    
    else:
        task_data.columns = ['subject_id', task.fetchname + '_day' + str(0)]    
    
    # merging the data together
    if i == 1: 
        zero_day_tasks = task_data
    else:
        zero_day_tasks = zero_day_tasks.merge(task_data, on='subject_id', how='outer')
    i += 1 

# saving the task matrix 
task_fn = os.path.join(harmony_dir, 'zero_day_matrix.common_names.{}.tsv'.format(curr_mfi_name))
zero_day_tasks.to_csv(task_fn, sep='\t', index=False)

In [56]:
zero_day_tasks

,subject_id,IgG-PT_day0,IgG-FHA_day0,IgG-PRN_day0,IgG1-PT_day0,IgG1-FHA_day0,IgG4-PT_day0,IgG4-FHA_day0,Monocytes_day0,ASCs (Plasmablasts)_day0,CD4Tcells_day0,CCL3_day0,IL-6_day0,NFKBIA_day0,XIST_day0
0,1,68.566139,1887.122630,332.127178,5763.081331,31106.987225,4.474682,145.050326,NaN,NaN,NaN,39.323,4.376,1029.796,148.520
1,3,20.116067,60.766256,976.674188,1118.951865,13291.523874,1.789873,1.533302,NaN,NaN,NaN,23.251,1.210,1006.749,123.071
2,4,37.552222,58.096022,723.690145,3055.380862,13108.862206,27.743025,179.396280,5.490838,0.61,16.965617,16.084,3.846,823.393,0.102
3,5,69.685645,0.064000,672.368021,5858.625313,29574.802527,188.831560,4011.423491,NaN,NaN,NaN,29.202,3.233,1034.291,0.168
4,6,3.914130,21.020433,11.508769,66.105093,6753.478057,4.176369,162.223303,22.793028,0.75,28.277243,22.844,2.438,1041.688,80.559
5,7,9.139656,30.812416,102.768212,177.617428,7254.892097,3.579745,79.731680,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9,4.051410,20.835161,19.833105,0.634843,4337.479962,35.200828,2160.421871,NaN,NaN,NaN,17.876,1.559,718.078,0.189
7,10,0.536000,5.802152,8.517523,0.100000,491.753289,1.789873,3.986584,NaN,NaN,NaN,16.165,9.365,883.427,61.572
8,11,44.532068,252.435095,1032.303144,1295.314908,18053.672313,2.708682,106.295506,10.790517,0.58,46.242269,22.311,4.346,840.242,99.641
9,12,2.426124,42.392558,111.705203,4.943328,6945.991366,0.541736,19.021301,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,13,29.012395,61.529676,151.304364,2659.092330,14089.235546,3.792155,278.046666,NaN,NaN,NaN,9.554,9.445,942.106,114.468
11,14,22.507707,38.205060,326.369923,1315.691780,10225.822279,5.417364,46.993803,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,15,5.545653,67.370596,133.095764,38.331938,12768.083560,1.083473,18.461851,15.637368,0.55,19.650177,27.559,6.979,748.319,0.150
13,16,52.711659,130.593229,53.059702,3524.495644,26384.187821,0.100000,5.035050,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,17,182.934934,135.747196,51.247354,15807.576104,25363.654309,31.420709,505.183379,14.457417,NaN,28.533701,21.827,3.206,1154.917,123.260
15,18,40.744009,579.564439,250.889359,2438.629301,23855.167483,8.396914,3799.225171,NaN,NaN,NaN,15.952,3.840,699.662,118.268
16,19,63.821159,58.767774,329.896509,4375.905203,9397.037254,12.459936,80.001355,NaN,NaN,NaN,20.998,0.906,759.130,0.256
17,20,89.120661,105.735882,64.625264,638.834504,2518.269322,1.423004,19.870772,21.399162,0.39,16.789375,14.600,1.869,886.452,110.513
18,21,107.194294,789.381859,281.485403,116.285992,9384.789259,12.620664,61.223762,15.226645,0.19,12.339236,13.154,0.884,744.363,0.145
19,22,63.875869,189.045210,187.371895,75.324700,6541.275435,0.257565,6.688310,NaN,NaN,NaN,21.044,2.075,954.606,29.315
20,23,5.895038,123.331700,44.969682,70.607945,18553.246210,28.074539,150.229735,NaN,NaN,NaN,20.425,2.510,902.621,110.389
21,24,3.774999,29.057699,139.384014,57.450682,8549.087799,2.833210,306.118809,NaN,NaN,NaN,7.613,2.571,881.689,92.575
22,25,12.502483,14.998761,94.587793,535.332421,3047.716578,1.030258,157.947016,NaN,NaN,NaN,15.481,1.989,531.111,96.259
23,26,12.018458,54.099932,150.066520,693.716083,11195.805811,3.348340,66.368616,5.532067,1.03,52.897843,25.643,4.293,818.339,76.001
24,27,12.957799,122.179338,101.975984,179.093307,15164.397577,407.209600,2282.257208,NaN,NaN,NaN,12.762,2.481,667.872,84.082
25,28,24.920371,862.271292,306.134256,1183.265585,23843.711731,2.318081,167.207753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,29,18.268766,276.121954,810.514828,275.933728,21636.953198,399.880566,6086.795930,16.094765,3.51,14.999405,20.815,1.661,886.582,0.164
27,30,10.233567,50.327147,176.563650,83.324210,7897.206159,0.523404,275.127425,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,31,2.229580,18.097274,392.771598,22.099083,4139.789121,0.100000,19.120825,4.879023,0.42,38.567095,24.875,2.417,841.135,126.596
29,32,30.196575,41.302963,188.724537,1296.264915,6190.366874,14.393607,698.441243,NaN,NaN,NaN,53.931,3.110,764.075,0.303
30,33,10.209368,32.730270,23.305737,622.788523,9161.875123,4.710635,32.930310,7.651833,0.20,29.034859,38.720,4.112,882.552,0.318
31,34,21.692509,98.432156,207.311942,1285.754163,19157.604224,0.100000,49.926598,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,35,23.601269,132.194818,172.935630,2314.756720,22734.133403,49.199965,2464.993011,NaN,NaN,NaN,42.254,2.288,886.098,0.208
33,36,19.400786,166.780970,516.261207,898.695745,21231.372728,37.685080,491.830107,11.243799,NaN,34.318057,7.092,0.945,579.377,127.922
34,37,7.505371,58.016290,85.962417,56.259025,9268.037228,1.046808,1357.578569,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,38,12.972633,42.349544,61.165878,527.515942,5654.857652,11.103011,5598.528307,NaN,NaN,NaN,7.100,2.197,491.501,94.603
36,39,7.433043,66.895928,72.655557,64.154766,12340.083916,0.100000,36.609965,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,40,15.375618,25.259131,106.085293,541.682739,2681.192365,74.429626,811.186549,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,41,25.994310,0.064000,1210.951190,2348.969261,32522.450432,1.608047,62.186790,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,42,21.435442,45.788097,625.112300,1001.782683,9456.455831,0.100000,20.060255,NaN,NaN,NaN,36.538,2.264,735.648,112.327
40,43,18.427135,56.741163,188.732316,129.385386,10764.441250,1376.948085,855.068356,NaN,NaN,NaN,13.635,5.103,816.717,90.433
41,44,16.577423,24.548340,83.863973,1041.618176,5209.290823,0.100000,322.970101,23.103276,1.66,22.288503,21.918,3.237,796.912,60.027
42,45,1.891160,14.762605,17.846661,22.825442,2096.891542,9.878006,2444.843541,13.524585,NaN,22.147214,NaN,NaN,NaN,NaN
43,46,180.591576,114.852777,41.626891,12201.033595,13810.683738,537.547300,2045.644472,25.504783,0.42,26.222509,NaN,NaN,NaN,NaN
44,47,97.493157,108.638297,58.525795,9708.264442,16675.529040,4.632812,1297.107955,10.129240,0.29,37.171760,118.497,5.033,2307.073,120.175
45,48,0.536000,21.981012,133.243733,4.114929,3907.612663,0.100000,61.806818,14.959751,1.19,33.680998,105.266,6.165,1845.176,85.739
46,49,16.235143,38.157810,132.696327,1773.139108,11441.040918,0.100000,532.596591,14.760983,NaN,19.357007,NaN,NaN,NaN,NaN
47,50,7.738694,29.310118,31.775805,80.228547,4700.431763,40.605233,1594.448864,NaN,NaN,NaN,271.694,304.459,2917.578,113.093
48,51,28.891541,36.074669,31.715050,877.737607,3948.077021,65.131884,1366.710227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,52,53.633961,0.064000,249.080782,915.682154,21876.140026,3467.795939,5040.875000,28.549035,2.99,12.769191,155.384,6.644,3039.752,0.185
50,53,313.564927,152.025023,49.222497,6750.161441,15132.707777,732.256793,1995.079545,NaN,NaN,NaN,932.942,248.027,5656.954,127.230
51,54,64.552942,108.048814,47.020031,3165.861151,10420.962693,0.272518,251.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,55,6.236853,33.038997,122.555404,222.352206,8428.328338,0.272518,52.619318,9.804276,NaN,20.368083,NaN,NaN,NaN,NaN
53,56,152.060328,65.325075,49.397914,13420.581010,4439.965659,3.058539,79.323985,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,57,3.751622,6.907343,10.483922,64.485095,677.050873,1.529270,849.518641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,58,15.987207,63.836701,29.979010,1697.570897,19059.087873,0.100000,68.650421,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,59,12.547522,42.037075,8.270056,1972.387685,14956.508981,0.100000,119.592430,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,60,0.536000,22.368710,133.214138,5.632820,7168.757164,0.100000,8.490335,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Providing meta data into a basic format

In [57]:
twenty_basic_meta = twenty_data['master_meta'].drop_duplicates('subject_id')
drop_cols = ['specimen_id', 'actual_day_relative_to_boost', 'planned_day_relative_to_boost', 'visit', 'dataset']
twenty_basic_meta.drop(drop_cols, axis=1, inplace=True)

twenty_basic_fn = os.path.join(harmony_dir, 'clinical_metadata.2020.tsv')
twenty_basic_meta.to_csv(twenty_basic_fn, sep='\t', index=False)

/mnt/BioHome/jreyna/.local/lib/python3.6/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [58]:
twentyone_basic_meta = twentyone_data['master_meta'].drop_duplicates('subject_id')
twentyone_basic_meta.drop(drop_cols, axis=1, inplace=True)

twentyone_basic_fn = os.path.join(harmony_dir, 'clinical_metadata.2021.tsv')
twentyone_basic_meta.to_csv(twentyone_basic_fn, sep='\t', index=False)

# Summarize the harmonization process

In [59]:
summary = []
for assay in assays:
    
    harmonized_assay = '{}_harmonized'.format(assay)
    summary.append([assay, 
                    twenty_data[assay].shape[1],
                    twentyone_data[assay].shape[1], 
                    twentyone_data[harmonized_assay].shape[1]])

summary = pd.DataFrame(summary)
summary.columns = ['Assay', '2020', '2021', 'Harmonized']

In [60]:
summary.sort_values('Assay')

      Assay   2020   2021  Harmonized
0  abtiters     25     22          20
1     cytof     27     44          23
2     olink    258     47          28
3    rnaseq  58349  58349       11590

In [61]:
7 + 7

14